@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', 'Liberation Sans', 'Noto Sans', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 2.5%;
  background: #242423;
  color: #E8EDDF;
  line-height: 1.4;
}

h1 {
  font-size: 1.7em;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
  color: #1B998B;
}

h2 {
  font-size: 1.6em;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
  color: #7D5BA6;
}

h3 {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
}

h5 {
  font-size: 1.3em;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
}

h6 {
  font-size: 1.15em;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
}

a,
a:visited,
a:hover { color: #9F84BD }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

pre {
  background-color: #1F1F1E;
  color: #B4A6AB;
  padding: 1em;
  overflow: auto;
}

code {
  font-family: 'IBM Plex Mono', 'Liberation Mono', Monaco, Consolas, monospace;
  font-size: 1em;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: auto;
  width: 100%;
}

.avatar img {
  display: block;
  margin: 10px;
  width: auto;
  height: 150px;
}

.about p {
  padding: 6px;
}

.links {
  padding: 10px 20px;
}

.bottom-links {
  text-align: right;
}

.blog-grid-container {
  justify-content: center;
}

.blog-grid {
  flex-direction: column;
}

.blog-grid-item {
  margin: 4px 2px 4px 2px;
  background: #333533;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  padding: 8px;
}

.blog-grid-item h1 {
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 0px;
  font-size: 1.2em;
  color: #9395D3;
}

.blog-post-title {
  display: flex;
  align-items: center;

  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;
  padding: 0px 3px 0px 0px;
}

#date {
  font-style: italic;
  color: #648381;
}

.show-posts {
  text-align: right;
  padding: 0 10px 0 10px;
}

.footer {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9em;
}

.tags {
  margin-top: 4px;
  margin-bottom: 4px;
}

.archive {
  justify-content: left;
}

.archive-item {
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 0px;
}

.archive-item p {
  display: inline-block;
  vertical-align: top;
}

#archivedate {
  font-style: oblique;
  font-size: 1em;
  color: #648381;
}

#archivetitle {
  font-weight: bold;
  font-size: 1em;
  color: #E8EDDF;
}

#archivetags {
  font-style: italic;
  font-size: 0.8em;
  color: #9F84BD;
}

.post h1 {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 0px;
  color: #1B998B;
  font-size: 1.6em;
}

.post h2 {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 0px;
  color: #7D5BA6;
  font-size: 1.4em;
}

.post p {
  margin-top: 4px;
  margin-bottom: 4px;
}

#line-break {
  display: none;
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  body {
    max-width: 100%;
  }

  .header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  .avatar img {
    display: none;
    margin: auto;
    width: auto;
    height: 150px;
  }

  .blog-grid-item {
    border-radius: 5px;
    padding: 4px;
  }

  .blog-grid-item h1 {
    font-size: 1.1em
  }

  #date {
    display: none;
  }

  #archivedate {
    display: none;
  }

  #line-break {
    display: inline;
  }
}
