:root {
  --fg: #A0A8CD;
  --bg: #11121D;
  --bg1: #1A1B2A;
  --bg2: #212234;
  --bg3: #353945;
  --bg4: #4A5057;
  --bg5: #282c34;
  --red: #EE6D85;
  --green: #95C561;
  --blue: #7199EE;
  --yellow: #D7A65F;
  --orange: #F6955B;
  --cyan: #38A89D;
  --purple: #A485DD;
  --grey: #4A5057;
  --light_red: #FE6D85;
  --light_green: #98C379;
  --light_blue: #9FBBF3;
  --dark_red: #773440;
  --dark_green: #587738;
  --dark_blue: #354A77;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', 'Liberation Sans', 'Noto Sans', sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 4px;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p {
  margin-bottom: .8em;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 6px;
}

h1 {
  font-size: 1.5em;
  color: var(--green);
}

h2 {
  font-size: 1.4em;
  color: var(--cyan);
}

h3 {
  font-size: 1.3em;
  color: var(--red);
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.20em;
}

h6 {
  font-size: 1.15em;
}

a {
  text-decoration: none;
  color: var(--light_blue);
}

a:visited {
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

code,
pre,
samp {
  font-family: 'IBM Plex Mono', 'Liberation Mono', Monaco, Consolas, monospace;
  font-size: .9em;
  white-space: pre-wrap;
  word-wrap: normal;
  margin: 2px;
  padding: 0.5em;
  overflow-x: hidden;
  border-radius: 5px;
  heigth: auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: auto;
  width: 100%;
}

.avatar img {
  display: block;
  margin: 10px;
  width: auto;
  height: 150px;
}

.top-links {
  margin-bottom: 16px;
  border-width: 3px;
  border-color: var(--bg5);
  border-style: none;
  border-bottom-style: dashed;
}

.bottom-links {
  text-align: right;
}

.blog-grid-container {
  margin: 8px 0px 0px 0px;
  justify-content: center;
}

.blog-grid {
  flex-direction: column;
}

.blog-grid-item {
  border-width: 3px;
  border-color: var(--bg5);
  border-style: none;
  border-bottom-style: dashed;
  padding: 0px 0px 6px 0px;
}

.blog-post-title {
  display: flex;
  align-items: center;

  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;
  padding: 0px 0px 0px 0px;
}

#date {
  font-style: italic;
  color: var(--grey);
}

.show-posts {
  text-align: right;
  padding: 4px 0px 0px 0px;
}

.footer {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9em;
}

.archive {
  justify-content: left;
}

.archive-item {
  border-width: 2px;
  border-color: var(--bg5);
  border-style: none;
  border-bottom-style: dashed;
}

.archive-item p {
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-block;
  vertical-align: top;
}

#archivetags {
  padding: 4px 0px 4px 0px;
}

#postdate {
  font-style: oblique;
  font-size: 1em;
}

#posttitle a {
  font-weight: bold;
  font-size: 1em;
}

#posttags a {
  color: var(--bg4);
  font-style: italic;
  font-size: 0.9em;
  vertical-align: top;
}

#tag-line-break {
  display: none;
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  body {
    margin-left: 5px;
    margin-right: 5px;
  }

  .header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  .avatar img {
    display: none;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1.15em;
  }

  #date {
    display: none;
  }

  #archivedate {
    display: none;
  }

  #tag-line-break {
    display: inline;
  }
}
