<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8'/>
    <title>crdpa.net - blog</title>
    <link rel='stylesheet' href='css/styles.css'/>
  </head>
  <body>
    <h1>Blog</h1>
    <div class='archive' id='top'>
    {{range .}}
      {{if ne .Title ""}}
        <div class='archive-item'>
          <p id='archivedate'>{{.Date.Format "02/01/2006"}} - </p>
          <a href='{{.Url}}'><p id='archivetitle'>{{.Title}}</p></a>
          </a>
          <p id='archivetags'> {{range $key, $value := .Tags}} <a href='/blog?tag={{$key}}'>{{$key}}</a>{{end}}</p>
        </div>
      {{end}}
    {{end}}
    </div>
    <p><a href='/'>« Back</a> | <a href='#top'>Top</a></p>
  </body>
</html>
